body {
	background: rgb(131, 58, 180);
}

.header {
	background: #000;
	color: #ffffff;
}

.card {
	color: #ff0000;
}

.card-div{
	color: #ffff00;
}

.card-header{
	color: #ffffff;
}

.card-p{
	color: #00ffff;
}

